body{
margin:0;
font-family:sans-serif;
background:#eef2ff;
padding:40px
}

h1{
text-align:center;
color:#4338ca;
margin-bottom:30px
}

.app{
display:flex;
gap:25px;
justify-content:center;
flex-wrap:wrap
}

.row{
max-width:1200px;
margin:auto
}

.card{
width:250px;
background:#fff;
padding:22px;
border-radius:24px;
text-align:center;
box-shadow:0 10px 25px #0001;
transition:.3s
}

.card:hover{
transform:translateY(-6px)
}

img{
width:85px;
height:85px;
border-radius:50%;
object-fit:cover
}

h3{
margin:12px 0 5px
}

p{
margin:1; 
color:#666
}

span{
display:inline-block;
margin-top:12px;
padding:7px 16px;
background:#4338ca;
color:#fff;
border-radius:30px
}